@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
body {
   position: absolute;
   font-family: 'Baloo Tammudu 2', cursive !important;
  margin: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.col{
  max-width: 248px !important;
  /* height: 200px !important; */
  margin: 0px 20px 30px 20px;
  padding:0px;
} 

.cardbook img{
  margin-top: 20px;
  margin-bottom: 15px;
  min-width: 200px !important;
  max-height: 300px !important;
}


.cardbook{
 border: solid 1px transparent;
 border-bottom-right-radius: 20px;
 border-top-left-radius: 20px;
  background-color: #fff1e6;
}
.sidebar{
  width: 25vw;
  height: 100vh;
  background-color: #FD5959;
  position: absolute;
  top:0;
  overflow-y: none;

  right: 0;
}
.toggleSide{
  overflow-y:auto;
  height: 90vh;
  width: 75vw !important;
}
.closeSlide{
  /* width: 0 !important; */
  position: absolute;
  left: -30%;
}
.banks{
  background-color: blueviolet;
  /* width: 50px !important;
  height: 50px !important; */
  padding: 5px 1px !important;
}
.allbank{
  width: 100%;
  margin: auto !important;
}

.displayRow{
  margin: auto;
}
.head .headerShop{
  font-family: 'Baloo Tammudu 2', cursive !important
}

.headerShop{
  max-width: 75vw;
}
 .textPrice{
  z-index: 2;
  position: absolute;
  background-color: #ff8500;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;

  padding: 10px 10px 0px 10px;
  transform: translateX(160px);
  -webkit-transform: translateX(160px);
  -moz-transform: translateX(160px);
  -ms-transform: translateX(160px);
  -o-transform: translateX(160px);

} 

.slidePrice{
    position: relative;
    max-width: 70px;
    transform: translateX(140px);
    -webkit-transform: translateX(140px);
    -moz-transform: translateX(140px);
    -ms-transform: translateX(140px);
    -o-transform: translateX(140px);
} 
.imgSlide{
  z-index: -2;
  margin-top: 0px !important;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}
.allPrice{
  width: 100%;
  position: absolute;
  bottom: 0;
  max-height: 300px;
  margin: auto;
  left: 0;
  margin-bottom: 5vh;
}
.selectBook{
  background-color: honeydew;
  padding-top: 10px;
  min-height: 300px;
  /* margin-left: 10px !important; */
  /* margin-right: 10px !important; */
  width: 100%;
  /* position: absolute; */
  margin: auto;
  left: 0;
  overflow-y: auto;
  margin-bottom: 5vh;
  max-height: 60vh;
  right:0;
}